*{
    border:border-box;
    margin:0px;
}
.navbar{
    font-family: arial;
    background-color:black;
    height:60px;
    color:white;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
       border:2px solid white;
}
.logo{
    background-image: url(amazon-logo.png);
    background-size: cover;
    height: 50px;
    width:100%;
}
/*Box2 styling*/
.p1{
    color:white;
    font-size:17px;
}
.p2{
    font-size:18px;
}
/*box2*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width:620px;
    height:30px;
    border-radius: 4px;
    background-color:yellow;
}
.search-select{
    background-color: rgb(216, 212, 212);
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-input{
    width:600px;
    border:none;
}
.search-icon{
    display:flex;
    justify-content: center;
    width:40px;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:black;
}
#sigin{
    margin:10px;
    color:white;
    font-size: 15px;
}
#return{
    margin:10px;
    font-size: 14px;
}
.navbar2{
    background-color: black;
    color:white;
    display: flex;
}
.p1{
    margin-left:15px;
    display:flex;
}
.image1{
    height:200px;
    background-image: url(amzon.jpg);
    background-size: cover;
}
/* .prefer{
    width:500px;
    height:400px;
    background-image: url(box2.jpg);
} */
 /* .main{
    background-image: url(box2.jpg);
 } */
.maindiv{
    margin: 10px;
    display:flex;
    flex-direction:row;
    column-gap: 5vw;
}
#DivforImage{
    background-image: url("box2.jpg");
    background-size: cover;
    background-color:black;
    height:350px;
}
#airpods{
    background-color: rgb(136, 135, 135);
    color:rgb(36, 35, 35);
    width:100%;
    height:20px;
    text-align: center;
    font-family: arial;
}
#ImageBig{

    border: 5px solid grey;
    background-image: url("airpods.jpg");
    background-size: cover;
    height: 400px;
}  
.maindiv2{
    margin: 10px;
    display:flex;
    flex-direction:row;
    column-gap: 5vw;
}
#text{
    background-color: white;
    text-align: center;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* #image4{
    background-image: url(box1.avif);
    background-size: cover;
} */
.box1{
    background-image: url(box1.avif);
    background-size: cover;
    width: 200px;
    height:250px; 
    border:10px solid white;
}
.box2{
    background-image: url(box5.jpeg);
    background-size: cover;
    width: 200px;
    height:250px;
    float:right;
    border:10px solid white;
}
#text2{
        background-color: white;
        text-align: center;
        color:black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
     background-image: url(pink.jpg);
    } 
 .box3{
    background-image: url(box6.avif);
    background-size: cover;
    width: 200px;
    height:250px;
    float:right;
    border:10px solid white;
}
#text3{
        background-color: white;
        text-align: center;
        color:black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box4{
    background-image: url(box7.avif);
    background-size: cover;
    width: 200px;
    height:250px;
    float:right;
    border:10px solid white;
}
#text4{
        background-color: white;
        text-align: center;
        color:black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box5{
    background-image: url(box8.avif);
    background-size: cover;
    width: 200px;
    height:250px;
    float:right;
    border:10px solid white;
}
#text5{
        background-color: white;
        text-align: center;
        color:black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box6{
    background-image: url(box10.jpg);
    background-size: cover;
    width: 200px;
    height:250px;
    float:right;
    border:10px solid white;
}
#text6{
        background-color: white;
        text-align: center;
        color:black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box7{
    background-image: url(black.jpg);
    background-size: cover;
    width: 200px;
    height:250px;
    float:right;
    border:10px solid white;
}
#text7{
        background-color: white;
        text-align: center;
        color:black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box8{
    background-image: url(outfit.jpg);
    background-size: cover;
    width: 200px;
    height:250px;
    float:right;
    border:10px solid white;
}
#text8{
        background-color: white;
        text-align: center;
        color:black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#footer{
    height:20px;
    background-color: grey;
    color:black;
    text-align: center;
}
#grey{
    background-image: url("grey.avif");
    height:200px;
    display: flex;
    flex-direction: row;
    column-gap: 5vh;
    text-align: center;
    padding-left: 100px;
}
/* #gdiv1{

}
#gdiv2{
display: flex;
flex-direction: row;
} */
 #logo{
    height: 100;
    background-image: url("grey.avif");
 }

 aside {
    width: 200px;
    height:250px;
    padding-left: 13px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
  }